   <div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
                <div class="slider-title img-responsive dash-bg-img">
                      <div class="table-cell">        
                         <div class="slider-animation-up"> 
						   
						   <div class="col-sm-3 up-box">
						    
						      <%= image_tag("Pro-Pic-Big.png", class:"big-pro-img")%>
						   </div>
						   <div class="col-sm-7 up-box-tex">
						     <h2>Mary Smith</h2>
							 <div class="sad-box"></div>
						   </div>
						 </div>
                    </div>
            </div>
         
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
	  	<div class="container">

	  		
		   <div class="col-sm-4">
	    
                 <div class="row  top-pad">
                        <h2>Verifications</h2>
                 </div>
		         
				 <div class="row top-pad">
               
                     <div class="col-sm-12 profile-padding">
						    
							<div class="col-sm-10">
							  <h4 class="vr">E-mail Address </h4>
							  <div class="tx-im">
							  
							      <%= image_tag("Check-Icon.png", class:"img-responsive")%>
							  </div>
							  <span>Client@Example.com </span>	
							  
							</div>
							
							<div class="col-sm-10">
							  <h4 class="vr">Phone Number </h4>
							  <div class="tx-im">
							  
							      <%= image_tag("Check-Icon.png", class:"img-responsive")%>
							 </div>
							  <span> (212)4001203 </span>	
							</div>
							
                          <div class="col-sm-10">
							  <h4 class="vr">Facebook </h4>
							  <span>X</span>
							  <span>Account Not Linked</span>	
							</div>
							
							<div class="col-sm-10">
							  <h4 class="vr">Google+ </h4>
							  <div class="tx-im">
							   
							      <%= image_tag("Check-Icon.png", class:"img-responsive")%>
							 </div>
							  <span>AccountLinked</span>	
							</div>
							
							
				    </div>
                 </div>
           </div>	
		   <div class="col-sm-8">
            <div class="row top-pad">
                
                        <h2>Pending Bookings</h2>
                        
            </div>
            <div class="row">
                 
			
						<div class="col-sm-12 profile-padding">
						  <div class="col-sm-12 pro-details">
							<div class="col-sm-2 pro-pic">
							 
							     <%= image_tag("dash/ClientPic.png", class:"img-responsive img-circle-pro")%>
							</div>
							<div class=" col-sm-10 pro-info">
							 <h3>Women’s Hair | Blow-Out</h3>
							 <div class="col-sm-4">Jamie Smith</div>
							 <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
							 <div class="col-sm-2">60mins</div>
							 <div class="col-sm-2 ">$70</div>
							</div>
						  </div> 
						</div>
                  
            </div>
			<div class="row  top-pad">
                
                        <h2>Upcoming Bookings</h2>
                        
             </div>
            <div class="row">
                 
			
						<div class="col-sm-12 profile-padding">
						  <div class="col-sm-12 pro-details">
							<div class="col-sm-2 pro-pic">
							  
							     <%= image_tag("dash/ClientPic.png", class:"img-responsive img-circle-pro")%>
							</div>
							<div class=" col-sm-10 pro-info">
							 <h3>Women’s Hair | Blow-Out</h3>
							 <div class="col-sm-4">Jamie Smith</div>
							 <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
							 <div class="col-sm-2">60mins</div>
							 <div class="col-sm-2 ">$70</div>
							</div>
						  </div> 
						</div>
						<div class="col-sm-12 profile-padding">
						  <div class="col-sm-12 pro-details">
							<div class="col-sm-2 pro-pic">
							  
							     <%= image_tag("dash/ClientPic.png", class:"img-responsive img-circle-pro")%>
							</div>
							<div class=" col-sm-10 pro-info">
							 <h3>Women’s Hair | Blow-Out</h3>
							 <div class="col-sm-4">Jamie Smith</div>
							 <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
							 <div class="col-sm-2">60mins</div>
							 <div class="col-sm-2 ">$70</div>
							</div>
						  </div> 
						</div>
                  
            </div>
			 <div class="row">
			 
			   <%= image_tag("dash/LineSeparation.png", class:"separate")%>
			</div>
			
			<div class="row top-pad">
                
                        <h2>Tips for Successful Service</h2>
                        
            </div>
            <div class="row  top-pad">
                 
			
						<div class="col-sm-12 profile-padding">
						 <ul class="list-info">
						  <li>   <span>Early is on time.</span> Consider arriving to your destination 10 minutes prior to your        
								 appointment.</li>
							<li>  <span> Always greet the client</span> by name and with a warm smile! This subtle detail makes 
								 all the difference when it comes to making the experienc personal.</li>
							<li>    <span>Set up in the right place.</span> Ask the client where their ideal setup location is.</li>
							<li>    <span>Consult with the client</span> before beginning the service to make sure you’re on the 
								 same page.</li>
							<li>   <span> Be mindful of time </span>and how you utilize your time with each client.</li>
							<li>   Check in with the client during the appointment to make sure their needs are 
								 being met.</li>
							<li>   <span> Assess the service.</span> When the appointment is close to ending, ask the client if 
								 they are satisfied with the service and if not, how you can fix it.</li>
							<li>    <span>Have a quick and tidy cleanup.<span> A clean home is a happy home.</li>
							<li>   <span>Thank the client</span> for choosing Reddera and selecting you as their Professional.</li>
						 </ul>
						</div>
                  
            </div>
        </div>
	  </div>	
    </section>
    <!--About Us section -->
    <!--Our service section -->