 <div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
                <div class="slider-title" style="background-image:url(assets/Help/Hero-Img.jpg);">
                 <div class="text-block-corp"> 
         
          <div class="col-sm-6 col-sm-offset-3"> </div>
         </div>
            </div>
            
            
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    
   
        <!--Our service section -->
    <section id="our-service" class="service-bg section-padding">
       
<div class="container">

   <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        <h1>Help And Suports</h1>
                        <div class="section-borders">  </div>
                        <p>
              
            </p>
                    </div>
                </div>
            </div>
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#faq-s-tab" class="list-group-item active text-center">
                 <!-- <img class="group-tb-i" src="assets/images/Help/PNG/FAQsIcon.png"/>-->
                   <%= image_tag("Help/PNG/FAQsIcon.png", class:"group-tb-i")%>
          <h3>FAQ's</h3>
           <p class="tab-p">Get anwser to most frequenty asked questions.</p>
                </a>
                <a href="#contact-us-tab" class="list-group-item text-center">
               <!--  <img class="group-tb-i" src="assets/images/Help/PNG/ContactUsIcon.png"/>-->
                  <%= image_tag("Help/PNG/ContactUsIcon.png", class:"group-tb-i")%>
         <h3>Contact Us</h3>
         <p class="tab-p">Reach anytime, from anyplace, we're here to help</p>
                </a>
                <a href="#file-complaint" class="list-group-item text-center">
                  <img class="group-tb-i" src="assets/images/Help/PNG/FileComplaintIcon.png"/>
                   <%= image_tag("Help/PNG/FileComplaintIcon.png", class:"group-tb-i")%>
          <h3>File a Complaint</h3>
          <p class="tab-p">Dissatisfied for any reason? Let us know.</p>
                </a>
                <a href="#live-chat" class="list-group-item text-center">
                <!-- <img class="group-tb-i" src="assets/images/Help/PNG/ChatIcon.png"/>-->
                  <%= image_tag("Help/PNG/ChatIcon.png", class:"group-tb-i")%>
         <h3>Chat</h3>
         <p class="tab-p">Chat with us for any concerns.</p>
                </a>
               
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active" id="faq-s-tab">
                    
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
              <li class="active"><a href="#faq-cat-1" data-toggle="tab">Client Resources</a></li>
              <li><a href="#faq-cat-2" data-toggle="tab">Professional Resources</a></li>
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
              <div class="tab-pane active in fade" id="faq-cat-1">
               <div class="col-md-10">
                <div class="col-md-6">
                  <div class="single-help-box">
                    <div class="help-tit-img">
                    <div class="col-md-4 nopadd"> 
                     <!-- <img class="help-circle" src="assets/images/help/PNG/PaymentIcon.png"/>-->
                          <%= image_tag("Help/PNG/PaymentIcon.png", class:"group-tb-i")%>
                    </div>
                    <div class="col-md-8 nopadd"> <h5>paying your profetional</h5></div>
                    </div>
                    <div class="lilist">
                      <ul>
                    <li>How are payment transactions processed?</li>
                    <li>What types of payments are accepted?</li>
                    <li>Are there additional fees for travel?</li>
                    </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-help-box">
                   
                     <div class="help-tit-img">
                    <div class="col-md-4 nopadd">
                     <!-- <img class="help-circle" src="assets/images/help/PNG/ServiceIcon.png"/>-->
                       <%= image_tag("Help/PNG/ServiceIcon.png", class:"group-tb-i")%>
                    </div>
                    <div class="col-md-8 nopadd"> <h5>managing your appointment</h5></div>
                     </div>
                      <div class="lilist">
                      <ul>
                    <li>How do I contact my Professional?</li>
                    <li>How do I prep for my appointment?</li>
                    <li>What if I’m running late?</li>
                    <li>I need to cancel my appointment. What is your refund policy?</li>
                    
                    </ul>
                    </div>
                   
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-help-box">
                    
                     <div class="help-tit-img">
                    <div class="col-md-4 nopadd">
                      <!--<img class="help-circle" src="assets/images/Help/PNG/TrustIcon.png"/>-->
                        <%= image_tag("Help/PNG/TrustIcon.png", class:"group-tb-i")%>
                    </div>
                    <div class="col-md-8 nopadd"> <h2>service concerns</h2></div>
                     </div>
                       <div class="lilist">
                      <ul>
                    <li>What if I was dissatisfied with my service?</li>
                    <li>Can I book more than one service?</li>
                    <li>What if I’m allergic to specific products?</li>
                    <li>What skincare, haircare, and makeup products do Reddera’s Professionals use?</li>
                    </ul>
                    </div>
                  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-help-box">
                   
                     <div class="help-tit-img">
                    <div class="col-md-4 nopadd">

                     <!-- <img class="help-circle" src="assets/images/Help/PNG/ProfessionalIcon.png"/>-->
                        <%= image_tag("Help/PNG/ProfessionalIcon.png", class:"group-tb-i")%>
                    </div>
                    <div class="col-md-8 nopadd"> <h5>Booking Your profetional</h5></div>
                     </div>
                     <div class="lilist">
                      <ul>
                    <li>What types of services can I request?</li>
                    
                    <li> Who are the Reddera Professionals and how are they vetted?</li>
                    
                    <p>Our Professionals come from everywhere and have a variety of diverse backgrounds and experience in the beauty and wellness community. From top beauty schools to high-end salons to working with celebrities and in the media, our Professionals are a colorful bunch! The one thing they all have in common is that they're fully vetted people right in your community and have a passion for beauty and wellness services. Each Reddera Professional goes through a multi-step vetting process that includes an application, interview, federal and local criminal background check, and training sessions.</p>
                    </ul>
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-help-box">
                   
                     <div class="help-tit-img">
                    <div class="col-md-4 nopadd">
                      <!--<img class="help-circle" src="assets/images/Help/PNG/LocationIcon.png"/>-->
                        <%= image_tag("Help/PNG/LocationIcon.png", class:"group-tb-i")%>
                    </div>
                     <div class="col-md-8 nopadd"><h5>reddera near you</h5></div>
                     </div>
                      <div class="lilist">
                      <ul>
                    <li>You don’t offer services in my area. How can I request Reddera to my hometown?</li>
                  
                    </ul>
                     </div>
                     </div>
                  </div>
                </div>
                
                
               
                <div class="col-md-2">
                  <div class="single-service-box">
                     <div class="help-selected-ico">
                   
                     <%= image_tag("Help/PNG/FAQsIcon.png", class:"group-tb-i")%>
                    </div>
                    
                  </div>
                 </div>
              </div>
              <div class="tab-pane fade" id="faq-cat-2">
                <div class="col-md-10">
                <div class="col-md-6">
                  <div class="single-help-box">
                   
                     <div class="help-tit-img">
                    <div class="col-md-4 nopadd">

                     

                       <%= image_tag("Help/PNG/NetworkIcon.png", class:"group-tb-i")%>
                    </div>
                     <div class="col-md-8 nopadd"><h5>Client Interaction</h5></div>
                     </div>
                     <div class="lilist">
                      <ul>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-help-box">
                    
                     <div class="help-tit-img">
                     <div class="col-md-4 nopadd">
                    
 <%= image_tag("Help/PNG/FolderIcon.png", class:"group-tb-i")%>
                    </div>
                     <div class="col-md-8 nopadd"><h5>reddera polices</h5></div>
                     </div>
                     <div class="lilist">
                      <ul>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    <li>From blow-outs to twist-sout</li>
                    
                    </ul>
                    </div>
                  
                </div>
              
                
                </div>
                <div class="col-md-2">
                  <div class="single-service-box">
                     <div class="help-selected-ico">
                   
                     <%= image_tag("Help/PNG/FAQsIcon.png", class:"group-tb-i")%>
                    </div>
                    
                  </div>
                 </div>
                </div>
              </div>
            </div>
               </div>
                <!-- train section -->
                <div class="bhoechie-tab-content" id="contact-us-tab">
                    <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
              <li class="active"><a href="#contact-form-1" data-toggle="tab">Contact Us</a></li>
              
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
              <div class="tab-pane active in fade" id="contact-form-1">
              <div class="col-md-12">
                 <div class="row">
                  <div class="col-md-12">
                    <p>Please select the topic in accordance wiht your inquiry and type your message below. </p>
                     <div class="form-group col-lg-3">
                    <input type="checkbox" name=""><label class="frmlb">Customer Support</label>
                    </div>
                    <div class="form-group col-lg-2">
                    <input type="checkbox" name=""><label class="frmlb">Press</label>
                    </div>
                    <div class="form-group col-lg-2">
                    <input type="checkbox" name=""><label class="frmlb">Job</label>
                    </div>
                    <div class="form-group col-lg-3">
                    <input type="checkbox" name=""><label class="frmlb">Other</label>
                    </div>
                    <div class="col-md-2">
                      <div class="single-service-box">
                         <div class="help-selected-ico">
                       
                         <%= image_tag("Help/PNG/ContactUsIcon.png", class:"group-tb-i")%>
                        </div>
                        
                      </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                  <div class="form-group col-lg-3">
                    <label>Name</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                  <div class="form-group col-lg-3">
                    <label>Company</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                        
                  <div class="form-group col-lg-3">
                    <label>E-mail</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                  <div class="form-group col-lg-3">
                    <label>Phone </label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>  
                   
                  <div class="form-group col-lg-12">
                     <textarea name="comment" class="form-control">How can we help? Please expain in detail how we can assist you and we will get back to you sortly </textarea>
                  </div>  
                  <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary join-btn btn-position">Send</button>
                  </div>
                  </div>
                </div>
                
                </div>
               
              </div>
              
              </div>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content" id="file-complaint">
                    <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
              <li class="active"><a href="#complaint-form-1" data-toggle="tab">File & Complaint</a></li>
              
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
              <div class="tab-pane active in fade" id="complaint-form-1">
               <div class="col-md-12">
                 <div class="row">
                  <div class="col-md-12">
                    <p>Please select the topic in accordance wiht your compaint and type your message below. </p>
                     <div class="form-group col-lg-3">
                    <input type="checkbox" name=""><label class="frmlb">Problem with my service</label>
                    </div>
                    <div class="form-group col-lg-2">
                    <input type="checkbox" name=""><label class="frmlb">Sefaty Concern</label>
                    </div>
                    <div class="form-group col-lg-2">
                    <input type="checkbox" name=""><label class="frmlb">Billing Concern</label>
                    </div>
                    <div class="form-group col-lg-3">
                    <input type="checkbox" name=""><label class="frmlb">Problem with my Profetion</label>
                    </div>
                    <div class="col-md-2">
                      <div class="single-service-box">
                         <div class="help-selected-ico">
                       
                         <%= image_tag("Help/PNG/FileComplaintIcon.png", class:"group-tb-i")%>
                        </div>
                        
                      </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                  <div class="form-group col-lg-3">
                    <label>Name</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                  <div class="form-group col-lg-3">
                    <label>Company</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                        
                  <div class="form-group col-lg-3">
                    <label>E-mail</label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>
                
                  <div class="form-group col-lg-3">
                    <label>Phone </label>
                    <input type="text" name="" class="form-control" id="" value="">
                  </div>  
                   
                  <div class="form-group col-lg-12">
                     <textarea name="comment" class="form-control">How can we help? Please expain in detail how we can assist you and we will get back to you sortly </textarea>
                  </div>  
                  <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary join-btn btn-position">Send</button>
                  </div>
                  </div>
                </div>
                
                </div>
                
              </div>
              
              </div>
                </div>
                <div class="bhoechie-tab-content" id="live-chat">
                    <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
              <li class="active"><a href="#live-chatinc-1" data-toggle="tab">Chat</a></li>
            
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
              <div class="tab-pane active in fade" id="live-chatinc-1">
               <div class="col-md-10">
                
                
                
                
                
                
                
                </div>
                <div class="col-md-2">
                  <div class="single-service-box">
                     <div class="help-selected-ico">
                   
                     <%= image_tag("Help/PNG/ChatIcon.png", class:"group-tb-i")%>
                    </div>
                    
                  </div>
                 </div>
              </div>
              
              </div>
                </div>
               
            </div>
        </div>
  </div>
</div>
    </section>